<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h1 class="display-4">{{workout.name}}</h1>
            </div>
            <div class="col">
                <div class="col">
                    <button type="button" class="btn brn-secondary" data-toggle="modal"
                        data-target="#addExerciseModal">Add Excersie to Workout</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h1>Exercises</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Reps: 1, Weight: 100lbs</h5>
                            <small>1 day ago</small>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Reps: 2, Weight: 200lbs</h5>
                            <small>2 days ago</small>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Reps: 3, Weight: 300lbs</h5>
                            <small>3 days ago</small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-3"></div>

        </div>
    </div>

</div>
</div>

<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="addExercise"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExerciseLabel">Add Exercise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/workout/add_exercise?_method=PUT" method="POST">
                    <div class="form-group">
                        <select class="custom-select" name="exercise_id" id="test1">
                            <option selected>Select Exercise</option>
                            {{#each exercises}}
                            <option value={{this._id}}>{{this.name}}</a>
                            {{/each}}
                        </select>
                        <input class="d-none" type="text" name="_id" id="test2" value={{workout._id}} type="hidden">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <br>
                {{!-- <form action="/" method="put">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="exerciseNameInput"
                            aria-describedby="workoutHelp" placeholder="Or Create New Exercise">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> --}}
            </div>
        </div>
    </div>
</div>